---
layout: default
title: Robert M. Raddi
---

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <!--<h1>Robert M. Raddi</h1>-->
        <!--<h2 class="lead">Header</h2>-->
        <p style="text-align:justify;font-size:100%;">
	    <img src="{{ site.baseurl }}/assets/images/TU_profile.jpg" height="20%" width="20%" align="left" >
        I'm a well rounded chemist from the greater Philadelphia area that
        loves experiencing diverse cultures and meeting new people.  Hiking and
        programming are two activities that I couldn't live without.  I'm an
        active member of the <a href="http://www.voelzlab.org">Voelz Lab</a>
        and currently pursuing a Ph.D. in Theoretical/Physical Chemistry at
        <a href="https://chem.cst.temple.edu">Temple University</a>.
        </p>
    </div>
</section>






<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <hr>
        <h2><span>Posts:</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
<!--
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}
<section class="recent-posts row">
    <div class="col-sm-4">
    </div>
-->

<!--
    <div class="col-sm-8">
        <div class="section-title">
            <h2><span>All Stories</span></h2>
        </div>
-->
<!--
        <div class="masonrygrid row listrecent">
            {% for post in paginator.posts %}
            {% unless post.featured == true %}
                {% include postbox.html %}
            {% endunless %}
            {% endfor %}
        </div>
-->
        <!-- Pagination -->
<!--
        <div class="bottompagination">
            <span class="navigation" role="navigation">
                {% include pagination.html %}
            </span>
        </div>
    </div>
</section>
-->
