---
layout: default
title: Posts
---

<!-- Author: Rob Raddi -->



<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}


<section class="featured-posts">

    <div class="section-title">
        <hr>
        <h2><span>Posts:</span></h2>
    </div>

    <!-- List by Category -->
    <section class="recent-posts row">
    {% for category in site.categories %}
        <div class="sidebar-section">
            <div class="col-sm-12">
                <h5><span> {{ category[0] }} </span></h5>
    	        <ul>
                {% for post in category[1] %}
	            {% if post.featured == true %}
    		        <!-- See this file for more information regarding post
    	                ~/github/robraddi.github.io/_layouts
    		        -->
    		        <li style="list-style-type: none;"><a href="{{ post.url }}"> {{ post.title }} : {{ post.date | date:"%m-%d-%Y"}} </a></li>
	            {% endif %}
                {% endfor %}
    	        </ul>
            </div>
        </div>
    {% endfor %}
    </section>
</section>







